body {
	line-height: 120%;
	font-size: 12px;
	width: 100%; 
	margin: 0px; 
	padding: 0px; 
	padding-left: 30px;
	text-align: left;
}

div.center {
	width: 99%;
	
	margin: 0px; 
	padding: 0px; 
	overflow: hidden;
	text-align: center;
	
}

span.spacing {
	letter-spacing: 4px;
}

span.bold {
	font-weight: bold;
}

div#tabs {
	width: 850px;	
}
div.module {
	width: 750px;
}

div.accordion {
	
}

div.accordion ol {
	list-style-type:lower-alpha;
}

img {
	margin-left: 20px;
	width: 90px;
	height: 135px;
}

/* java check */

.javaactive {
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 40px;
	background-image: url(./../img/icon32/accept.png);
	background-position: left;
	background-repeat: no-repeat;
	
	border-color: rgb(100,220,100);
	border-width: 6px;
	border-style: solid;
	border-radius: 25px;
}

.javamissing {
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
	background-image: url(./../img/icon32/error.png);
	background-position: left;
	background-repeat: no-repeat;
	
	border-color: rgb(220,100,100);
	border-width: 6px;
	border-style: solid;
	border-radius: 25px;
}



.layout-right {
	float: right;
}

